*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    background-color: #fff;
    color: #434455;    
}

.container {
    max-width: 1158px;
    padding-inline: 15px;
    margin: 0 auto;
}

.section {
    padding-block: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #434455;
}

a:hover, a:focus {
    color: #404bbf;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {    
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.header-link {
    display: inline-block;
    padding-block: 24px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.nav {
    display: flex;
    gap: 76px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web {
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.logo-studio:hover, .logo-studio:active {
    color: #404bbf;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

address {
    font-style: normal;
}

.email {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.hero {
    background: #2e2f42;
    padding-block: 188px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    
}


.hero-bg {
    max-width: 496px;    
    margin: 0 auto;    
    text-align: center;
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.hero-button {
    background: #4d5ae5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.hero-button:hover, .hero-button:focus {
    background: #404bbf;
}



.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.feature-title {
    margin-bottom: 8px;
}

.features-text, .portfolio-text {
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
}


.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team {
    background: #f4f4fd;
}

.team-item {
    background-color: #fff;
    flex-basis: calc((100% - 72px) / 4);
}

.team-card {
    border-radius: 0 0 4px 4px;    
    padding-inline: 0px;    
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.card-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.card-content {
    padding: 32px 16px;
}

.card-description {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


.portfolio-header-title, .team-title, .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.portfolio-header-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    flex-basis: calc((100% - 48px)/3);
}


.description-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
}

.portfolio-title {
    margin-bottom: 8px;
}

.feature-title, .portfolio-title, .card-name {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    color: #2e2f42;
}


.footer {
    background: #2e2f42;
    padding-block: 100px;
}


.footer-content {
    max-width: 264px;
}

.footer-logo {
    color: #f4f4fd;    
}


.footer-logo:hover {
    color: #4d5ae5;
}


.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
}